body {
    font-family: 'Lato', sans-serif;
}

#generate-label {
    color: #ff4400;
    margin: 10px;
    font-size: 18px;
}

.bg-dark {
    background-color: #262626;
}

.row {
    margin: 0px;
    padding: 0px;
}

.accordion, .mb-0, .card, .card-header, .btn-block, .col-4 {
    background-color: #1a1a1a;
    color: #ffffff;
}

.accordian {
    margin: 0px;
    background-color: #4f4f4f;
}

.card {
    background-color: #262626;
}

.btn-block:hover, .btn-dark:hover {
    color: #ff4400;
}

.nav, .nav-dark, .bg-dark {
    background-color: #121212 !important;
}

.btn-light {
    border-color: #ff4400;
}

.btn-light:hover {
    color: #ff4400;
    border-color: #ff4400;
}

.btn-light:focus {
    color: #ff4400;
    border-color: #ff4400;
    box-shadow: 0px;
}

#component-head {
    background-color: #ff4400;
    padding: 5px;
    font-size: 20px;
    color: #121212;
    font-weight: bold;
}

#preview-head {
    padding: 5px;
    font-size: 20px;
    color: #ff4400;
    background-color: #2e2e2e;
    margin-top: 0px;
    padding-bottom: 14px;
}

h6 {
    font-size: 20px;
    font-weight: bold;

}

.col-8 {
    margin: 0px;
    padding: 0px;
    border: 5px solid #2e2e2e;
}

.col-4 {
    margin: 0px;
    padding: 0px;
    background-color: #ff4400;
    border: 5px solid #ff4400;
}

hr {
    border-color: #2e2e2e;
    border-width: 5px;
}
